/* استيراد خط Tajawal */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* تطبيق خط Tajawal على جميع العناصر */
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
label,
input,
button,
select,
option {
  font-family:
    'Tajawal',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif !important;
}

.image-input {
  cursor: pointer;
  transition: 0.3s;
}

.image-input:hover {
  transform: scale(1.01);
  border: 1px solid #0000002f;
}
